option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:ap-southeast-2:591051693047:certificate/89bf7462-5e06-4377-995c-9a8461e0bffe
  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS